.tblColEllipsis {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 /* Chat chat-messages */
 .chat-message {
  border: 2px solid #dedede;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat chat-message */
.darker {
  border-color: #ccc;
  background-color: #d8d9e2;
}

/* Clear floats */
.chat-message::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat-message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat-message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
