        <script src="/socket.io/socket.io.js"></script>
        <div class="row mt-3 mb-5 " id="messagesList"></div>
        <div class="row mt-3 mb-5" >
                <form id="form_mensaje">
                    <div class="form-group input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ingrese su mensaje" aria-label="Ingrese su mensaje" id="mensaje" autofocus>
                    <button class="btn btn-outline-secondary" type="button" id="btnMensajeEnviar">Enviar</button>
                    <div class="invalid-feedback"></div>
                    </div>
                </form>
        </div>
        <script src="/js/chat.js"></script>


     