    <div class="row">
        <div class="col">
            <div class="card text-bg-light">
                <div class="card-body">
                    <h4>Hasta luego!</h4>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    sessionStorage.removeItem('userToken');
    sessionStorage.removeItem('userInfo');
    sessionStorage.removeItem('cartId');
    setTimeout(function(){
        window.location.replace("./login")
    }, 2000);
</script>